name: Build

on:
    push:
    pull_request:

jobs:
    build:
        runs-on: windows-latest
        env:
            BUILDCACHE_DEBUG: 2

        steps:
            - uses: actions/checkout@v4

            - name: Setup buildcache
              uses: CeetronSolutions/setup-buildcache-action@v1.0

            - name: Setup CMake
              uses: jwlawson/actions-setup-cmake@v1.14
              with:
                  cmake-version: "3.31.0"

            - name: Setup MSVC
              uses: ilammy/msvc-dev-cmd@v1

            - name: Configure CMake
              run: cmake -B build -S . -G Ninja -DCMAKE_CXX_COMPILER=cl

            - name: Build
              run: cmake --build build --config Release -v
